.icon-48-electronicprogramguide {
      background-image: url(../images/l_electronicprogramguide.png);
      padding-left:60px!important;
}

.icon-48-program {
      background-image: url(../images/l_electronicprogramguide.png);
      padding-left:60px!important;
}

