.icon-48-articles {
      background-image: url(../images/l_articles.png);
      padding-left:60px!important;
}

.icon-48-article {
      background-image: url(../images/l_articles.png);
      padding-left:60px!important;
}

