.icon-48-packages {
      background-image: url(../images/l_packages.png);
      padding-left:60px!important;
}

.icon-48-package {
      background-image: url(../images/l_packages.png);
      padding-left:60px!important;
}

