.icon-48-highlights {
      background-image: url(../images/l_highlights.png);
      padding-left:60px!important;
}

.icon-48-highlight {
      background-image: url(../images/l_highlights.png);
      padding-left:60px!important;
}

