.icon-48-slides {
      background-image: url(../images/l_slides.png);
      padding-left:60px!important;
}

.icon-48-slide {
      background-image: url(../images/l_slides.png);
      padding-left:60px!important;
}

