.icon-48-announcements {
      background-image: url(../images/l_announcements.png);
      padding-left:60px!important;
}

.icon-48-announcement {
      background-image: url(../images/l_announcements.png);
      padding-left:60px!important;
}

