.icon-48-shows {
      background-image: url(../images/l_shows.png);
      padding-left:60px!important;
}

.icon-48-show {
      background-image: url(../images/l_shows.png);
      padding-left:60px!important;
}

