.icon-48-channels {
      background-image: url(../images/l_channels.png);
      padding-left:60px!important;
}

.icon-48-channel {
      background-image: url(../images/l_channels.png);
      padding-left:60px!important;
}

