.icon-48-resellers {
      background-image: url(../images/l_resellers.png);
      padding-left:60px!important;
}

.icon-48-reseller {
      background-image: url(../images/l_resellers.png);
      padding-left:60px!important;
}

